@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Jersey+10&display=swap");

:root {
  --indigo: #242448; /* outline / teks gelap */
  --lav: #d3bce3; /* panel pastel */
  --pink: #f8bbd0; /* aksen */
  --peach: #fac8af; /* aksen 2 */
  --gold: #ffc038; /* highlight */
  --snow: #fcfcfc; /* dasar terang */
  --ink: #1a1a1a; /* pixel black */
  --pastel-strawberry: #ff7aa6;
  --strawberry: #e22e63;
}

* {
  color: var(--indigo);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Jersey 10", cursive;
}
/* panel rule */
.panel {
  display: none;
}
.panel.active {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
}

/* ini container gamenya / background */
.game-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 1rem;
  background: linear-gradient(0deg, var(--lav) 0%, var(--peach) 100%);
}
/* container game end */

/* canvas gamenya */
/* .gameplay-wrapper {
        } */
/* canvas game end */

/* container header game, ini yang diatas tuh. isinya judul game, informasi skor dsb */
.game-header {
  font-size: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--snow);
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ini container header yang sebelah kiri. isinya ada judul game */
.game-header__logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  padding: 0.45rem;
  border: 1px solid var(--indigo);
  border-bottom: 2px solid var(--indigo);
  background-color: var(--gold);
}

.logo-name {
  font-style: italic;
  margin-left: 0.45rem;
  color: var(--indigo);
}

/* ini container header yang sebelah kiri end */

/* ini container header yang sebelah kanan. isinya skor player */
.game-header__point {
  position: relative;
  display: flex;
  align-items: center;
}

.point-icon {
  padding: 0.45rem;
  border: 1px solid var(--indigo);
  border-bottom: 2px solid var(--indigo);
  background-color: var(--pastel-strawberry);
  margin-right: 0.45rem;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
}
/* ini container header yang sebelah kanan end */

/* container header game end */

/* container game image */
.game-image {
  width: 100%;
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
  padding: 0.5rem 3rem;
  background-color: var(--snow);
  margin-top: 0.5rem;
  position: relative;
}

/* container image */
.image-container {
  width: 100%;
  min-height: 10rem;
  border: 1.5px solid var(--indigo);
}
/* container image end */

/* image */
.image-container img {
  width: 100%;
}

/* container game image end */

/* container button start */
.game-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

/* button style start */
.game-button button {
  padding: 0.5rem 1rem;
  background-color: var(--gold);
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
  font-size: 1rem;
  transition: all 0.02s ease;
  -webkit-transition: all 0.02s ease;
  -moz-transition: all 0.02s ease;
  -ms-transition: all 0.02s ease;
  -o-transition: all 0.02s ease;
}

.game-button button.btn-active {
  transform: translateY(0.1rem);
  -webkit-transform: translateY(0.1rem);
  -moz-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  -o-transform: translateY(0.1rem);
  border-bottom: 1.5px solid var(--indigo);
}
/* button style end */

/* container button end */

/* container game status start */
.game-status {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}
/* status item tap start here */
.status-item {
  font-size: 0.5rem;
  letter-spacing: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
  background-color: var(--snow);
  padding: 0.5rem;
}

#tap-status {
  transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -moz-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -ms-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -o-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
}

#tap-value {
  color: inherit;
}

/* status item yang namanya auto  halah pokoe ini style info auto dapet berapa duit perdetik dibawah button jir */

#auto-status {
  transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -moz-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -ms-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -o-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
}

#auto-status > * {
  color: inherit;
}

/* ini multi status */
#multi-status {
  transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -moz-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -ms-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
  -o-transition: transform 0.2s, color 0.2s cubic-bezier(0, 1, 0, 1);
}

#multi-status > * {
  color: inherit;
}

/* status item tap end here */

/* container game status end */

/* container game feature start */
.game-feature {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}
/* feature item */
.feature-item {
  cursor: pointer;
  flex: 1;
  font-size: 0.5rem;
  background-color: var(--gold);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
}

.feature-item span {
  margin-bottom: 0.25rem;
  font-size: 0.5rem;
}
/* container game feature end */

/* container game upgrade start */
.game-upgrade {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--snow);
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
  display: flex;
  flex-direction: column;
}

.upgrade-header__panel {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.upgrade-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.upgrade-list__item {
  padding: 0.5rem 1rem;
  background-color: var(--lav);
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
}

.upgrade-list__item {
  display: flex;
  justify-content: space-between;
}

.upgrade-header {
  font-size: 0.5rem;
  letter-spacing: 0.15rem;
}

.upgrade-header p {
  font-size: 0.75rem;
}

.upgrade-button {
  padding: 0.5rem;
  background-color: var(--gold);
  text-align: center;
  font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  border: 1.5px solid var(--indigo);
  border-bottom: 0.2rem solid var(--indigo);
}

.upgrade-button span {
  font-size: 0.5rem;
}
/* container game upgrade end */

/* pop up section */
/* pop up minus start*/
.currency-minus {
  position: fixed;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--strawberry);
  padding: 1rem 2rem;
  border: 1.5px solid var(--indigo);
  border-bottom: 0.25rem solid var(--indigo);
  z-index: 1000;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s ease;
  -webkit-transition: bottom 0.5s, opacity 0.5s ease;
  -moz-transition: bottom 0.5s, opacity 0.5s ease;
  -ms-transition: bottom 0.5s, opacity 0.5s ease;
  -o-transition: bottom 0.5s, opacity 0.5s ease;
}

.currency-minus h1 {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: var(--snow);
}

.currency-minus.show {
  bottom: 1rem;
  opacity: 1;
}
/* pop up minus end */

/* popup score */
.score-popup {
  justify-self: center;
  color: var(--gold);
  -webkit-text-stroke: 1px var(--indigo);
  position: absolute;
  bottom: 0;
  font-size: 2.5rem;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;

  animation-timing-function: ease-out;
  pointer-events: none;
}

.score-popup.minus {
  color: var(--strawberry);
}

.multi-popup {
  color: var(--gold);
  position: absolute;
  bottom: -0.8rem;
  right: 0;
  font-size: 1rem;
  animation: multiPop 1s linear;
  -webkit-animation: multiPop 1s linear;
  pointer-events: none;
  -webkit-text-stroke: 0.5px var(--indigo);
}
/* animation */

/* animasi status tap kalo di upgrade */

#tap-status.active {
  color: var(--gold);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* animasi status auto kalo diupgrade */

#auto-status.active {
  color: var(--gold);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* animasi multi kalo di upgrade */

#multi-status.active {
  color: var(--gold);
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* score popup animation */
@keyframes scorePopRight {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
  }
  40% {
    transform: translate(25px, -25px) rotate(-25deg);
    -webkit-transform: translate(25px, -25px) rotate(-25deg);
    -moz-transform: translate(25px, -25px) rotate(-25deg);
    -ms-transform: translate(25px, -25px) rotate(-25deg);
    -o-transform: translate(25px, -25px) rotate(-25deg);
  }
  100% {
    opacity: 0;
    transform: translate(50px, 20px);
    -webkit-transform: translate(50px, 20px);
    -moz-transform: translate(50px, 20px);
    -ms-transform: translate(50px, 20px);
    -o-transform: translate(50px, 20px);
  }
}

@keyframes scorePopLeft {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
  }
  40% {
    transform: translate(-25px, -25px) rotate(25deg);
    -webkit-transform: translate(-25px, -25px) rotate(25deg);
    -moz-transform: translate(-25px, -25px) rotate(25deg);
    -ms-transform: translate(-25px, -25px) rotate(25deg);
    -o-transform: translate(-25px, -25px) rotate(25deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50px, 20px);
    -webkit-transform: translate(-50px, 20px);
    -moz-transform: translate(-50px, 20px);
    -ms-transform: translate(-50px, 20px);
    -o-transform: translate(-50px, 20px);
  }
}

@keyframes multiPop {
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
  }
}
