@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --background-color: #3c467b;
  --primary-color: #6e8cfb;
  --secondary-color: #636ccb;
  --accent-color: #50589c;
  --text: #f4f4f4;
}

.game-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--primary-color);
  padding: 4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

header {
  color: var(--text);
  text-align: center;
}

header p {
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: -5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main input {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  background: none;
  border-bottom: 1.5px solid var(--text);
  font-size: 1rem;
  color: var(--text);
}

main input::placeholder {
  opacity: 0.5;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text);
}

main input:focus {
  outline: none;
}

main button {
  width: 100%;
  z-index: 2;
  position: relative;
  outline: 0;
  border: 1px solid var(--text);
  padding: 0.5rem 1.5rem;
  color: var(--text);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.3rem;
  background: none;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
main button::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--text);
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}
main button:hover {
  color: var(--background-color);
}
main button:hover::before {
  width: 100%;
}

main p {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text);
}

#wrong-container {
  transform: translateX(-10rem);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 2rem;
  background-color: var(--primary-color);
  color: var(--text);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0 1rem 1rem 0;
  -webkit-border-radius: 0 1rem 1rem 0;
  -moz-border-radius: 0 1rem 1rem 0;
  -ms-border-radius: 0 1rem 1rem 0;
  -o-border-radius: 0 1rem 1rem 0;
  -webkit-transform: translateX(-10rem);
  -moz-transform: translateX(-10rem);
  -ms-transform: translateX(-10rem);
  -o-transform: translateX(-10rem);
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}
#wrong-container.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

#wrong-container h2 {
  color: var(--text);
  text-align: center;
}
