@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  box-sizing: border-box;
  --background: #0c2b4e;
  --primary: #f4f4f4;
  --secondary: #bebebe;
}

body {
  background-color: var(--background);
}

.container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

header {
  color: var(--primary);
  text-transform: capitalize;
  text-align: center;
}

header h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

header p {
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.qr-container {
  width: 200px;
  padding: 1rem 1.5rem;
  background-color: var(--primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
}

.qr-container label p {
  font-size: 0.55rem;
  font-weight: 500;
  color: var(--secondary);
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.qr-container label p.error {
  animation: error 0.1s linear 5;
  -webkit-animation: error 0.1s linear 5;
}

@keyframes error {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    color: red;
  }

  25% {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    color: red;
  }

  50% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    color: red;
  }

  75% {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    color: red;
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    color: red;
  }
}

.qr-container input {
  width: 100%;
  padding: 0.3rem;
  border: 0;
  background: none;
  border-bottom: 1px solid var(--secondary);

  font-size: 0.7rem;
}

.qr-container input::placeholder {
  font-size: 0.7rem;
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
}

.qr-container input:focus {
  outline: 0;
}

#img-container {
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#img-container.visible {
  max-height: 100%;
}

#qr-img {
  padding: 0.5rem;
  width: 100%;
}

#btn {
  outline: 0;
  border: 0;
  background-color: var(--background);
  padding: 0.2rem 0.5rem;
  margin-top: 1rem;
  width: 100%;
  font-weight: 500;
  color: var(--primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 3rem;
  }

  .qr-container {
    width: 400px;
  }

  .qr-container input {
    padding: 0.8rem;

    font-size: 1.2rem;
  }

  .qr-container input::placeholder {
    font-size: 1rem;
  }

  #btn {
    padding: 1rem;
  }

  .qr-container label p {
    font-size: 0.8rem;
  }
}
