* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --background: #3d8d7a;
  --primary: #fbffe4;
  --secondary: #b3d8a8;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-wrapper {
  width: 400px;
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.converter-wrapper header {
  color: var(--background);
  text-align: center;
}

.converter-wrapper header p {
  font-weight: 500;
}

.converter-wrapper .input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--background);
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.converter-wrapper .input-container .input-wrapper input {
  padding: 0.5rem;
  width: 100%;
}

.input-wrapper {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: var(--primary);
  font-weight: 500;
}

#error {
  position: absolute;
  top: -10rem;
  text-align: center;
  background-color: var(--secondary);
  width: 15rem;
  right: 50%;
  transform: translateX(50%) translateY(0);
  border-radius: 0.3rem;
  padding: 1rem;
  font-size: 0.8rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: all 0.5s ease;
  -webkit-transition: top 0.5s cubic-bezier(0.65, -0.32, 0.25, 1.24);
  -webkit-border-radius: 0.3rem;
}

#error h1 {
  color: var(--background);
}

#error.active {
  top: 0;
}

#btn {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  border: 0;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--background);
  border-radius: 100rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
}
