* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "poppins";
}

.container {
  background-color: #242448;
  width: 100%;
  height: 100vh;
  padding: 5rem;
}

.container h1 {
  color: #fffaff;
}

.container span {
  display: block;
  color: #8686ff;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container span {
  margin-left: 1rem;
  font-size: 2rem;
  transition: 0.3s all ease-in-out;
  color: #fffaff;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.input-container span:hover {
  color: #8686ff;
}

.container .input-container input {
  transition: all 0.3s ease-in-out;
  padding: 1rem 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn {
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn:hover {
  filter: brightness(0.9);
  -webkit-filter: brightness(0.9);
}

@media (max-width: 600px) {
  .container {
    padding: 3rem;
  }

  .container .input-container input {
    padding: 0.5rem 1rem;
  }
}
